body{
	background-color: black;
	margin: 0;
}

header{
	display: revert-layer;
	background-color: black;
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
	padding: 3px;
}
div{
	margin: 0;
	text-align: revert-layer;
}

nav{
	justify-content: revert-layer;
	text-align: center;
}

h2{
	color: white;
}

header img{
	width: 80px;
	margin: 0;
}

main div{
	background-color: gray;
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	padding: 20px ;

}

a{
	color: gold;
}
a:hover{
	color: lightyellow;

}

main img{
	max-width: 100%;

}

footer{
	background-color: black;
	max-width: 100%;
	text-align: center;
	color: white;
}