
body{
	background-color: rgb(164, 148, 148);
}

h1{
	text-align: center;
	font-size: 30px;
	color: salmon;
}

h2{
	text-align: center;
	color: blueviolet;
	font-size: 20px;
}	

.big{
	font-size: 30px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

span{
	color: violet;
}

h3{
	text-align: center;
}

#example{
	color: blue;
	background-color: rgb(202, 120, 20);
	width: 500px;
	float: right;
}

#first_section{

	background-color: aliceblue;
	width: 200px;
	color: blue;
	float: right;
}

#tabela_emails{

	background-color: aliceblue;
	width: 300px;
	float: left;

}